body {
  background-image: url("PerthBeach.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}
h3 {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.header-content h1 {
  margin: 10px 0;
}

.search-container input,
.search-container button {
  padding: 10px;
  font-size: 1.2rem;
  margin: 5px;
}

.search-container input {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  border-radius: 5px;
}
.search-container input:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.search-container button {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.toggle-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.toggle-container button {
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
}

.toggle-unit {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 5px;
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.toggle-unit:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
main {
  width: 100%;
  min-height: 100vh;
}

.weather-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.current-weather,
.weather-details {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  min-width: 100px;
  max-width: 250px;
  margin: 0 10px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.current-weather .weather-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-weather h2 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}
.current-weather p {
  text-align: center;
}

.current-weather .weather-icon {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.current-weather .temperature {
  font-size: 2rem;
  margin: 0;
}

.current-weather .condition {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}

.weather-details p {
  margin: 5px 0;
}

.weather-details i {
  font-size: 2em;
  margin-bottom: 5px;
}

.weather-details .detail-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

.weather-details .detail-item .icon {
  justify-self: start;
}

.weather-details .detail-item .heading {
  font-size: 0.9rem;
  margin: 0;
  text-align: right;
}

.weather-details .detail-item .value {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
}

.weather-details .detail-item .icon-value {
  display: flex;
  align-items: center;
}

.forecast-container,
.hourly-forecast-container {
  position: relative;
  min-width: 300px;
  max-width: 1250px;
  margin: 0px auto;
  justify-content: center;
  padding: 0 10px;
}
.forecast,
.hourly-forecast {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.hourly-forecast-container {
  margin-top: 10px;
}
.forecast-container {
  margin-top: 30px;
}
.forecast-day {
  min-width: 150px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.forecast-day .max-temp {
  font-size: 1.5rem;
  font-weight: bold;
}

p.min-temp {
  font-size: 1rem;
  opacity: 0.8;
}
.forecast-day p.min-temp {
  margin-top: 0px;
}
.forecast-day .condition {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.forecast-day .chance-of-rain {
  font-size: 0.8rem;
}
p.chance-of-rain.value {
  font-size: 2rem;
  font-weight: bold;
}
.forecast-day p {
  margin: 10px 0;
}

.chance-of-rain {
  font-size: 0.8rem;
}

.chance-value {
  font-size: 1rem;
  font-weight: bold;
}

.hour {
  min-width: 100px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.hour p {
  margin: 5px 0;
}

/* Carousel settings */
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}
.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-content {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  transition: transform 0.5s ease-in-out;
}

.carousel-content {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Media Query to hide carousel controls on wide screens */
@media (min-width: 1250px) {
  .forecast-container .carousel-control {
    display: none;
  }
}

/* Media query for mobile screens */
@media (max-width: 767px) {
  .current-weather,
  .weather-details {
    padding: 5px;
  }
  .forecast-day {
    margin-bottom: 20px;
  }
  .toggle-unit {
    top: 10px;
    right: 10px;
  }
}

/* Media Query to hide carousel controls on touch devices */
@media (pointer: coarse) {
  .carousel-control {
    display: none;
  }
}
